@media screen and (max-width:767px) {
    .top-text h5{display: none!important;}
    .topbar{padding: 20px 10px;}
    .contactIcon i{margin: 0 10px;}
    .top-text{padding: 20px 5px;}
    .menu-icon{display: block;}
    .menu-icon.a{display: none;}
    .mainMenu{overflow: unset;}
    .responsive{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh!important;
        background-color:white;
        width: 0;
        display: flex;
        justify-content: unset;
        flex-direction: column;
        align-items: unset;
        overflow: hidden;
        z-index: 999;
        border-right: 1px solid black;
    }
    .menubar{flex-direction: column}
    .list-menu a{display: block;margin: 20px 20px;}
    .slide-text p{font-size: 16px;line-height: 20px;}
    .slide-text h1{font-size: 30px;}
    .hotel-row{margin: 0 auto;text-align: center;}
    .hotel-row input{padding: 10px;width: 100%;margin: 10px 0;}
    #cars{margin: 30px 0;}
    .option-element{display: flex;flex-direction: column;margin: 10px 0;}
    .Cheak-button{width: 100%;}
    .room-price{flex-direction: column;height: 1000px;}
    .roomprice-img{width: 100%;height: 50%;}
    .roomprice-details{width: 100%;height: 50%;}
    .allPrice{height: 100%;flex-direction: column;}
    .price{overflow-x: hidden;}
    .review-all{
        width: 100%;
        height: 900px;
        padding: 0 20px;
        flex-direction: column;
    }
    .review-images{width: 100%;height: 50%;}
    .review-content{width: 100%;height: 50%;margin-top: 20px;}
    .review-dot{left: 20px;}
    .place-content{
        width: 600%;
        display: flex;
        height: 500px;
    }
    .place-img{
        width: 100%!important;
        height: 500px!important ;
        position: relative;
        transition: 0.7s all linear;
        overflow: hidden;
    }
    .contact-banner{
        margin: 0 auto;
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .contact-button{
        padding-left:50px ;
        text-align: start;
    }
}