*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    height: 100%;
    width: 100%;
    position: relative;
}
/* topBar start */
.topbar{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.top-text h5{
    font-size: 14px;
    margin-top: 5px;
}
.top-text span{
    padding: 0 10px;
    font-size: 14px;
}
.contactInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    color: #1DC3AD;
    font-size: 16px!important;
    text-align: center;
}
.contactIcon i{
    margin: 0 20px;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
}
/* topBar end */

/* main menu start*/
.mainMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
    position: relative;
    overflow: hidden;
}
.logo a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.menubar{
    display: flex;
    align-items: center;
}
.list-menu a{
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.search span{
    margin: 0 20px;
    font-size: 18px!important;
    margin-top: 10px;
    color: black;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.responsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon span{
    height: 2px;
    display: block;
    width: 20px;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 3px 0;
}
.btn button{
  height: 100%;
  background-color: #1CC3B2;
  padding: 20px 30px;
  border: none;
  outline: none;
  color: white;
}
.responsive.menuCome{
    width: 70%!important;
    overflow: unset!important;
    transition: all ease 0.5s!important;

}
/* main menu end*/
/* banner start */
.banner{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.allSlide{
    width: 100%;
    height: 100%;
    display: flex;
}
.slide{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    transition: 2s all linear;
}
.slide2{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/visualsofdana-T5pL6ciEn-I-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    transition: 2s all linear;
}
.slide3{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/vojtech-bruzek-Yrxr3bsPdS0-unsplash\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    transition: 2s all linear;
}
.slide-text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.slide-text p{
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}
.slide-text h1{
    font-size: 50px;
    letter-spacing: 2px;
    padding: 10px 0 ;
    font-weight: bold;
}
.slide-text button{
    border:1px solid #1CC3B2;
    outline: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    background: transparent;
}
.slide-text button:hover{
    background-color: #1CC3B2;
    transition: 0.7s all linear;
}
.slideBtn{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.slideBtn  img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 999;
    margin: 0 10px;
    border: 2px solid white;
}
/* banner end */
/* hotes details start */
.hotel-details{
    height: auto;
    padding: 50px 10px;
}
.hotel-row{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px 10px;
}
.hotel-row input{
    border-radius: 3px;
    border: 1px solid rgb(207, 206, 206);
    padding: 20px 20px;
}
#cars{
    height: 50px;
    width: 70px;
    padding: 0 10px;
    text-align: center;
    border-color:rgb(207, 206, 206) ;
    border-radius: 3px;
}
#label{
    font-size: 16px;
    font-weight: bold;
}
.Cheak-button{
    width: 200px;
    height: 50px;
    vertical-align: middle;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: #1CC3B2;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 7px;
}
.div-img{
    overflow: hidden;
}
.about-img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    display: inline-block;
}
.about-img:hover{
    transform: scale(1.1); 
    transition: 0.8s all linear;
}
.about-img2{
    height: 400px;
    width: 300px;
    object-fit: cover;
    display: inline-block;
}
.about-img2:hover{
    transform: scale(1.1);
    transition: 0.8s all linear;
}
.About-text p{
    font-size:14px;
    line-height: 25px;
    letter-spacing: 1px;
}
/* serice section */
.service{
    padding: 50px 0;
}
.service-card{
    padding: 20px 0;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    text-align: center;
    margin: 10px 0;
}
.service-card h3{
    font-size: 20px;
    padding: 5px 0;
}

/* price section */
.price {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
  }
  .room-price {
    height: 500px;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .allPrice {
    background-color: blue;
    width: 100%;
    height: 500px;
    position: absolute;
    transition: 0.7s all linear;
    display: flex;
  }
  .roomprice-img {
    width: 50%;
    /* background-color: aqua; */
    position: relative;
    height: 100%;
  }
  .roomprice-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .roomprice-details {
    width: 50%;
    height: 100%;
    background-color: #0e2737;
    color: white;
    padding: 50px;
  }
  .roomprice-details h1 {
    padding: 10px;
    font-size: 30px;
  }
  .full-details {
    margin-top: 30px;
  }
  .full-details span {
    margin-top: 10px;
    padding: 0 5px;
  }
  .full-details p {
    font-size: 16px;
    font-weight: bold;
  }
  .priceBtn button {
    padding: 10px 30px;
    background-color: #1cc3b2;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
  }
  .changeBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .changeBtn button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #1cc3b2;
    color: white;
    font-weight: bolder;
  }

  /* review section */
.review{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}
.review-all{
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-images{
    width: 48%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.review-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.review-content{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.review-content p{
    font-size: 18px;
    line-height: 28px;
}
.review-para{
    margin-top: 50px;
    display: flex;
    position: relative;
    width: 100%;
    transition: 0.7s all linear!important;
}
.star{
    padding: 10px 0;
}
.star i{
    color: #F5B917;
}
.context{
    width: 100%;
    position: absolute;
    transition: 0.7s all linear!important;
}
.context p{
    color: #6C737E;
    font-size: 20px;
    line-height: 30px;
}
.review-dot{
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: flex;
    cursor: pointer;
}
 .dotBtn{
   height: 15px;
   width: 15px;
   background-color: transparent;
   border-radius: 50%;
   margin: 0 10px;
   border: 1px solid #1DC3AD;
}

/* best place section start */
.best-places{
    padding: 20px 0;
    width: 100%;
    overflow: hidden;
}
.place-content{
    width: 200%;
    display: flex;
    height: 500px;
}
.place-img{
    width: 33%;
    height: 100%;
    position: relative;
    transition: 0.7s all linear;
    overflow: hidden;
}
.place-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    z-index: 999;
    transition: 0.5s all linear!important;
}
.img-content h3{
    font-size: 20px;
}
.img-content h2{
    font-size: 25px;
}

.img-decription{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#1CC3B2;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
    transform: translateY(100%);
    transition: 0.5s all linear!important;
    
}
.img-decription h2{
    font-size: 25px;
    font-weight:600;
    padding: 10px;
}
.img-decription h3{
    font-size: 20px;
    font-weight:600;
    padding: 10px;
}
.img-decription p{
    font-size: 16px;
    line-height: 27px;
    font-weight:600;
    padding: 10px;
}
.img-content2{
    background-color: #0e2737;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;

}

.active1{
    transform: translateY(0%);
}
.active2{
    background-color: black;
    font-size: 20px;
    padding: 30px 20px;
}
/* hotel */
.hotel{
    padding: 20px 0;
}
.card-hotel img{
    width: 100%;
    height: 100%;
}
.date-section h3{
    font-size: 16px!important;
    color: #1CC3B2;
}
.card-info{
    padding-top: 20px;
}
.card-info h3{
    font-size: 20px;
}
.card-info p{
    font-size: 16px;
}
.card-info span{
    font-size: 25px;
    color: black;
}

.cardActive{
    transform: translateY(-10px);
    transition: 0.3s all linear;
}

/* contact us */
.contact-us{
    padding: 70px 0;
    width: 100%;
}
.contact-banner{
    margin: 0 auto;
    height: 200px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/visualsofdana-T5pL6ciEn-I-unsplash.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.contact-info{
    padding-left:50px ;
}
.contact-button{
    padding-right:50px ;
}
.contact-button button{
    background-color: #1CC3B2;
    color: white;
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* iconimg-container */
.iconimg-container{
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
/* ffooter */
.footer{
    width: 100%;
    padding: 30px 0;
    background-color: #0E2737;
}
.foterdivthree a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px 0;
}

.foterdivthree span{
    color: white;
}
.footerActive{
    color: #1CC3B2!important;
    /* transition: 0.5s all linear; */
}
.footerLast{
    margin-top: 10px;
}
.foterInput{
    background-color: #3E525F;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
}
.footerLast input{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}
.footerLast input::placeholder{
    color: white;
}
.footerLast i{
    /* color: ; */
    font-size: 20px;
    background-color: #1CC3B2;
    padding: 10px;
    border-radius: 50%;
}